[CONFIG]
HOST=127.0.0.1
PORT=1433
USER=username
PASSWORD=password
DB=DATABASE
PREFIX=dbo
FROM_TABLE=tab;e
ELASTIC_HOST=http://localhost:9200
ELASTIC_USER=
ELASTIC_PASS=
ELASTIC_INDEX=es_index
ROWS_AT_ONCE=3000
ES_INDEX_CREATED=no
LAST_ROW=0