[CONFIG]
SQL_HOST=127.0.0.1
SQL_PORT=1433
SQL_USER=username
SQL_PASS=password
SQL_DB=DATABASE
SQL_PREFIX=dbo
FROM_SQL_TABLE=table
ELASTIC_HOST=http://localhost:9200
ELASTIC_USER=
ELASTIC_PASS=
ELASTIC_INDEX=es_index
ROWS_AT_ONCE=3000
ES_INDEX_CREATED=no
LAST_ROW=0
THREADS=2
DATE_FORMAT=20